@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	background-color: #efefef;
}

body{
	font:14px/1.5 'Raleway', sans-serif;
	margin: 0;
}

/*----------- Header ----------- */

.header {
    overflow: hidden;
    background-color: #111111;
    padding: 10px 20px;
}

/* Style the header links */
.header a {
    font-family: 'Montserrat', sans-serif;
    float: left;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header .logo {
    width: 115px;
    height: auto;
}

/* Change the background color on mouse-over */
.header a:hover {
    color: #F05283;
}

/* Style the active/current link*/
.header a.active {
    background-color: dodgerblue;
    color: white;
}

/* Float the link section to the left */
.header-left {
    float: left;
}

.header-right {
    float: right;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/*----------- End Header ----------- */

.sub-header ul {
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 75px;
}

.sub-header ul a{
    text-decoration: none;
    color: #FFF;
    text-align: left;
    background-color: #BCB8C2;
    padding: 10px 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;
    transition: 0.2s ease;
}

.sub-header ul li a.active{
    background-color: #F05283;
    pointer-events: none;
}

.sub-header ul li a:hover {
    opacity: 1;
}


.sub-header ul li{
    display: inline-block;
}

.sub-header button {
    font:14px/1.5 'Raleway', sans-serif;
    background-color: darkgray;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

.sub-header button:hover {
    background-color: gray;
}

.sub-header button.active {
    background-color: #ce4670;
}

.sub-header h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sub-header p {
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 25px;
}

/*
@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }
}
*/

.main-content{
    margin-bottom: 200px;
    text-align: center;
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}

/* -- Link to Tutorialzine -- */

.tz-link{
	text-decoration: none;
	color: #fff !important;
	font: bold 36px Arial,Helvetica,sans-serif !important;
}

.tz-link span{
	color: #da431c;
}

/*----------- Buttons ----------- */

button {
    border: 0;
}

.form-button-row {
    margin-top: 20px;
}

.button {
    text-decoration: none;
    font: bold 14px/1 'Raleway-Medium', sans-serif;
    color: white;
    background-color: green;
    padding: 10px 25px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    outline: none;
    transition: 0.2s ease;
    border: white solid 0px;
}

.button:hover {
    background-color: darkgreen;
}

.button-box {
    display: block;
    padding-top: 75px;
}

.empty-state-box {
    padding-top: 100px;
}

.empty-state-text {
    padding-top: 15px;
    font: normal 14px/1.5 'Raleway-Regular', sans-serif;
}

.centered img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#button-close {
    background-color: red;
    margin-left: 20px;
}

.form-labels-on-top .button-previous {
    background-color: #e0e0e0;
    color: #3d3d3d;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    padding: 14px 22px;
}

.form-labels-on-top .button-previous:hover {
    background-color: #cccccc;
}

.form-labels-on-top .button-next{
    float: right;
    border-radius: 2px;
    background-color: green;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
}

.form-labels-on-top .button-next:hover{
    background-color: darkgreen;
}

#add_more {
    font: bold 14px/1 'Raleway-Medium', sans-serif;
    background-color: steelblue;
    color: white;
    width: 150px;
}

#add_more:hover {
    background-color: #3e739f;
}

.confirm-delete {
    padding: 7px;
    margin-right: 30px;
    background-color: red;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.confirm-delete:hover {
    background-color: #c50000;
}

.edit-resume {
    padding: 7px;
    background-color: dodgerblue;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.edit-resume:hover {
    background-color: #1a77d2;
}

.view-resume {
    padding: 7px;
    background-color: green;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.view-resume:hover {
    background-color: darkgreen;
}

.form-labels-on-top .form-button{
    border-radius: 2px;
    background-color: green;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin-top: 15px;
}

.form-labels-on-top .form-button:hover{
    background-color: darkgreen;
}

/*----------- Resume Form ----------- */

.form-labels-on-top{
    box-sizing: border-box;
    font-weight: 600;
    max-width: 900px;
    margin: 0 auto;
    padding: 55px;
    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-labels-on-top-small {
    box-sizing: border-box;
    font-weight: 600;
    max-width: 100%;
    margin: 0 auto;
    padding: 55px;
    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-labels-on-top .form-row{
    text-align: left;
    max-width: 315px;
    margin: 25px auto 0;
}

.form-labels-on-top .form-title-row{
    margin: 0 auto 40px;
}

.form-labels-on-top h1{
    display: inline-block;
    box-sizing: border-box;
    color: #4C565E;
    font-size: 24px;
    padding: 0 0 12px 0;
    margin: 0;
    border-bottom: 2px solid #6CAEE0;
}

.form-labels-on-top .form-row > label span{
    display: block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 200px;
    padding: 0 0 12px;
}

.form-labels-on-top input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 300px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
    margin-top: 5px;
}

.form-labels-on-top select{
    background-color: #ffffff;
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-labels-on-top .form-radio-buttons > div{
    margin-bottom: 10px;
}

.form-labels-on-top .form-radio-buttons label span{
    margin-left: 8px;
    color:  #5f5f5f;
    font-weight: normal;
}

.form-row p {
    margin-bottom: 15px;
}

/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices.

@media (max-width: 600px) {

    .form-labels-on-top{
        padding: 30px;
    }

    .form-labels-on-top input{
        width: 240px;
    }

}
*/

/*----------- Resume Box ----------- */

.wrapper{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 200px;
}

.resume-box {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    height: 175px;
    width: 500px;
    display: inline-block;
    border: 1px solid lightgray;
    margin: 10px;
    background-color: white;
    text-align: right;
}

/* On mouse-over, add a deeper shadow */
.resume-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 50px;
}

.resume-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.button-row {
    display:inline-block;
    margin-top: 20px;
}

/*----------- Messages ----------- */

.messages {
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: green;
}

.messages ul {
    list-style-type: none;
}

.message-text {
  color: white;
}

/*----------- Image Cropper ----------- */

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/*----------- Profile Form ----------- */

.objective-box {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 13px;
    color: #5f5f5f;
    border: 1px solid lightgray;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

/*----------- Overlay ----------- */

#overlay {
    visibility: hidden;
    position: absolute;
    float: left;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

#overlay .overlay-content {
    margin: 100px auto;
    background-color: #fff;
    border: 1px solid lightgray;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    text-align:center;
    height: 100%;
    width: 100%;
}

#overlay .overlay-content .form-labels-on-top {
    display: inline-block;
}

/*----------- Steps, form wizard ----------- */

.step-text {
    color: gray;
    margin-bottom: 10px;
}

/*----------- Tooltip ----------- */

.tooltip {
    position: relative;
    display: block;
    padding-top: 10px;
}

/* Tooltip text */
.tooltip .tool-tip-text {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tool-tip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tool-tip-text {
    visibility: visible;
    opacity: 1;
}

/*----------- Form Set ----------- */

.formset {
    padding-bottom: 15px;
}

.delete-row {
    color: #5ba2d8;
}

.add-row {
    color: #5ba2d8;
}

/*----------- FAQ ----------- */

.question-page{
    text-align: left;
}

.question-box {
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 16px;
}

.list-answer {
    margin-left: 50px;
}

.question {
    margin-bottom: 15px;
}

.question-box p {
    margin-top: 7px;
}

.answer {
    color: #5c5c5c;
}

/*----------- Dropdown nav ----------- */

.dropdown {
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 14px;
    border: 1px solid #EAEAEA;
    outline: none;
    color: white;
    padding: 10px 18px;
    background-color: inherit;
    font-family: 'Montserrat Medium', sans-serif;
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.profile-pic-small {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
}

.profile-pic-small img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/*----------- Resume List ----------- */

.single-resume {
    position: relative;
    display: inline-block;
    margin: 1em;
}

.resume-info {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    transition: .5s ease;
}

.resume-info:hover {
    opacity: 1;
}

.resume-list img {
    display: block;
    width: 350px;
    height: auto;
    border: slategrey solid 1px;
}

.resume-info p {
    color: white;
    padding-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
}

.resume-name {
    font-size: 18px;
}

/*----------- Footer ----------- */

.footer {
    bottom: 0;
    width: 100%;
    height: 225px;
    background-color: #111111;
    color: gray;
    text-align: center;
}

.logo-footer {
    padding-top: 20px;
    width: 100px;
    height: auto;
}

/*----------- Payment page ----------- */

.payment-page {
    max-width: 1150px;
}

.plan-block {
    border: 1px solid black;
    padding: 50px;
    max-width: 313px;
}

.payment-page .plan-block-title {
    font-size: 24px;
}

.payment-page .plan-block-price {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 50px;
    border-bottom: 1px solid lightgray;
}

.payment-page #long-photo {
    width: 200px;
    height: 200px;
    padding-bottom: 50px;
}

.payment-page #short-photo {
    width: 200px;
    height: 200px;
}

.payment-page .plan-bottom-part .plan-block-features li {
    list-style: none;
    padding-bottom: 10px;
    font-size: 18px;
    color: dimgray;
    border-bottom: 1px solid lightgray;
}

.payment-page .plan-bottom-part span {
    color: green;
}

.payment-page button {
    background-color: green;
    color: white;
    padding: 15px;
    margin-top: 30px;
    font: bold 16px/1 'Raleway-Medium', sans-serif;
}

.payment-page button:hover {
    background-color: darkgreen;
}

.payment-page sup {
    font-size: 18px;
}

.plan-wrap {
    display: inline-block;
    margin: 0 50px;
}
